@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-button {
    background-image: linear-gradient(to bottom, #f86622 80%, #FF4F00 100%);
    transition: background-image 0.3s ease; /* Add smooth transition */
  }

  .gradient-button:hover {
    background-image: linear-gradient(to bottom, #f86622 80%, #FF704D 100%);
  }
